@import "./fonts.css";
@import "./reset.css";
@import "./icons.css";

:root {
  /* Colors */
  --primary: #ffffff;
  --secondary: #070724;
  --secondary-light: #38384f;

  --black: #000000;
  --gray: #838391;
  --gray-dark: #979797;
  --blue-light: #419ebb;
  --yellow: #eda249;
  --purple: #6f2ed6;
  --orange-dark: #d14c32;
  --red: #d83a34;
  --orange-light: #cd5120;
  --green-light: #1ec2a4;
  --blue-dark: #2d68f0;

  /* Planets */
  --mercury: #def4fc;
  --venus: #f7cc7f;
  --earth: #545bfe;
  --mars: #ff6a45;
  --jupiter: #ecad7a;
  --saturn: #fccb6b;
  --uranus: #65f0d5;
  --neptune: #497efa;

  /* Fonts */
  --heading-font: "Antonio", sans-serif;
  --body-font: "Spartan", sans-serif;

  /* Font sizes */
  --body-font-size: 0.875;
  --heading-one: 5rem;
  --heading-two: 2.5rem;
  --heading-three: 0.75rem;
  --heading-four: 0.688rem;

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-light: 400;

  /* Spacing */
  --base-padding: 24px;
  --spacing-xs: 24px;
  --spacing-m: 32px;
  --spacing-l: 40px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  color: var(--primary);
}

h1 {
  margin: 0;
  font-size: clamp(var(--heading-two), 6vw, var(--heading-one));
}

a {
  color: inherit;
  text-decoration: none;
}

.mercury {
  background: var(--mercury);
}

.venus {
  background: var(--venus);
}

.earth {
  background: var(--earth);
}

.mars {
  background: var(--mars);
}

.jupiter {
  background: var(--jupiter);
}

.saturn {
  background: var(--saturn);
}

.uranus {
  background: var(--uranus);
}

.neptune {
  background: var(--neptune);
}

.default-planet-color {
  background: var(--primary);
}

@media screen and (min-width: 768px) {
  :root {
    --base-padding: 40px;
    --spacing-xs: 32px;
  }
}
